.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 750px
}

.post-index-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.post-title {
    display: flex;
    margin-left: 10px;
}

.post-index-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-height: auto;

}


.postItem-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-index-item img {
    width: 100%;
    max-height: 300px;

}

.postItem-title-bar {
    text-decoration: none;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7f8;
    border-radius: 5px;
    padding: 0 16px;
    border-bottom: 1px solid #e1e4e8;
}

.community,
.title-bar-username,
.title-bar-follow {
    text-decoration: none;
    padding-left: 10px;
    font-size: 14px;
    color: #0079d3;
}

.title-bar-follow-cont {
    display: flex;
    justify-content: center;

}

.title-bar-follow {
    margin-right: 10px;
}

.post-index-item-menu {
    position: relative;
    display: flex;
    cursor: pointer;
}

.title-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f7f8;
    border-radius: 5px;
    padding: 0 16px;
    border-bottom: 1px solid #e1e4e8;
}


.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.post-index-item-menu:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f6f7f8;
}
