/* Index */
.hidden {
  display: none;
}

.logo {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.logo-title {
  color: white;
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home-logo p {
  margin-left: 5px;
  font-weight: bold;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333333;
  background: rgb(26, 26, 27);
  z-index: 100;
  /* Add a higher z-index value */
}

.nav {
  display: flex;
  align-items: center;
}

.icon-item {
  margin-right: 15px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.icon-item:hover {
  transform: translateY(-5px);
}

.icon-item:last-child {
  margin-right: 5px;
}


.search-bar {
  margin-left: 20px;
}

.search-input {
  background: rgb(26, 26, 27);
  color: white;
  border: 1px solid #333333;
}


.search-input::placeholder {
  color: white;
}


.search-bar input {
  height: 30px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #333333;
  color: white
}

.search-bar button {
  display: none;
}

.nav1 {
  display: flex;
  align-items: center;
}

/* Profile Button */

.profile-container {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  padding: 8px 0;
  margin-top: 29px;
  background-color: rgb(58, 56, 56);
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0 2px 16px rgba(0 0 0 / 12%);
  min-width: 150px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  z-index: 100;
  --navigation-bar-offset: 144px;
  top: 20px;
  right: 5px;
  font-weight: bold;
  margin-right: 2px;
}

.user-options.div {
  color: black;
}

.user-like a,
.user-follow a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.user-logout {
  cursor: pointer;
  color: white;
}


.fas.fa-plus.fa-lg {
  color: white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 20px;
  background: transparent;
  border: none;
}
